<!DOCTYPE html>
<html>
<body>

<h1 style="color:blue;">Edit the Restaurant {{restaurantName}}</h1>

<br>

<form action="/edit-restaurant/{{restaurantId}}" method="post">
    <input type="text" placeholder="Name of restaurant" name="restaurantName" value="{{restaurantName}}" width="400"/>
    <input type="text" placeholder="City of restaurant" name="restaurantCity" value="{{restaurantCity}}" width="400"/>
    <input type="text" placeholder="Type of restaurant" name="restaurantType" value="{{restaurantType}}" width="400"/>
    <input type="number" placeholder="Restaurant rating" name="restaurantRating" value="{{restaurantRating}}" width="400"/>
    <button type="submit">Submit</button>
</form>

