<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<h1>Restaurants!</h1>
<ul>
    {{#restaurants}}
    <!--<li>Id: {{id}}</li>-->
    <li>Name: {{name}}</li>
    <li>Location: {{location}}</li>
    <li>Type: {{foodType}}</li>
    <li>Rating: {{rating}}</li>
    Click To Edit:
    <a href="/restaurants/{{id}}">Edit</a>
    {{/restaurants}}
</ul>
<h1>Create Restaurants</h1>
<form method="post" action="/create-restaurant">
    Name:
    <input type="text" name="name" />

    Location:
    <input type="text" name="location" />

    FoodType:
    <input type="text" name="foodType" />

    Rating:
    <input type="double" name="rating" />

    <input type="submit" />
</form>
<br>
<h1>Delete Restaurants</h1>
<form method="post" action="/delete-restaurant">
    Name:
    <input type="text" name="name" />
    <input type="submit" />
</form>
</body>
</html>