<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<h1>Restaurants!</h1>
<ul>
    <table style="width:100%", border="1px solid black">
        <tr>
            <th width="10%">ID</th>
            <th width="18%">Name</th>
            <th width="18%">Phone</th>
            <th width="18%">Type</th>
            <th width="18%">Is Open</th>
            <th width="9%">Edit</th>
            <th width="9%"> Delete</th>
        </tr>
    </table>
    {{#restaurants}}
    <table style="width:100%", border="1px solid black">
        <tr align="center">
            <td width="10%">{{id}}</td>
            <td width="18%">{{name}}</td>
            <td width="18%">{{phone}}</td>
            <td width="18%">{{type}}</td>
            <td width="18%">{{isOpen}}</td>
            <td width="9%"><form method="get" action="/restaurants/{{id}}">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Edit</button>
            </form></td>
            <td width="9%"><form method="post" action="/delete-restaurant">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form> </td>
        </tr>
    </table>
    {{/restaurants}}
</ul>


<form method="post" action="/create-restaurant">
    Id:
    <input type="text" name="id" />

    Name:
    <input type="text" name="name" />

    Phone Number:
    <input type="text" name="phone" />

    Type:
    <input type="text" name="type" />

    Is it open:
    <input type="text" name="isOpen" />

    <input type="submit" />
</form>
</body>
</html>